* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}
body {
    background-image: url("wallpaper.jpg");
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center; 
    align-items: center;     

}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
form input, form button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0rem;
}

form button {
    margin-top: 3.5rem;
    background-color: #102F5e;
    color: #FFF;
    border: none;
    transition: background-color 0.3s ease;
    width: 19rem;   
    height: 8rem;
    border-radius: 4rem;
    font-size: 4rem;
    text-align: center;
}

form button:hover {
    background-color: #395169;
}

.hide {
    display: none;
}

h1{
    padding-top: 1rem;
    text-align: center;
}
p, a{
    padding-top: 1rem;
}
label{
    padding-top: 4rem;
    text-align: center;
}
form input{
    background-color:white;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 25rem;
}

.square{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    padding: 2rem;
    margin-top: 13rem;
    text-align: center;
    background-color: white;
    width: 37rem;   
    height: 40rem; 
    border-radius: 4rem;
}